################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Business/bin/Debug
/Data/bin/Debug
/Model/bin/Debug
/Portal/bin
/WebApi/bin
